services:
  redis:
    image: redis:alpine
    container_name: flowdesk-redis
    ports:
      - "6379:6379"
    restart: always

  minio:
    image: minio/minio
    container_name: flowdesk-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: always

volumes:
  minio_data:
